extends ../layouts/common

block content
	h1 Users

	.d-flex
		a.btn.btn-primary(href="/users/create") New

		form.d-flex.ml-auto.mb-0(action="users/search", method="GET")
			input.form-control(type="text" name="q")
			button.btn.btn-primary.ml-2 Search

	table.table.mt-5
		tr
			th Name
			th Phone
			th Action

		each user in users
			tr
				td= user.name
				td= user.phone
				td
					a.btn.btn-primary(href="/users/" + user.id) View